<%= form_with model: @product do |f| %>
  <div class="mb-3 row">  
    <div class="col-sm-2 col-form-label">
      <%= f.label :name %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :name, placeholder: "Title", class: 'form-control' %>
    </div>    
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :image %>
    </div>

    <div class="col-sm-10">
      <%= f.file_field :image, class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :price %>
    </div>

    <div class="col-sm-10">
      <%= f.number_field :price, class: 'form-control' %>
    </div>    
  </div>
  
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :description %>
    </div>

    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>    
  </div>
  

  <%= f.submit "Submit", class: 'btn btn-primary'%>
<% end %>