- if admin?
  = link_to 'New Product', new_product_path, class: 'btn btn-primary btn-lg mb-3'

= will_paginate @collection, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center)

- if admin?
  %button.btn.btn-secondary.btn-check-box-set{id: "btn-check-box-set"} Checked all
  %button.btn.btn-primary.btn-check-box-reset{id: "btn-check-box-reset"} Reset all

.row
  - @products.each do |product|
    - if admin?
      .col-sm-3.mb-5
        = check_box_tag product.id, product.id
        = link_to product_path(product) do
          .card.text-center{style: "width: 18rem;"}
            %h5.card-header
              = product.name
            - if product.image?
              = image_tag(product.image.url(:thumb), class: 'card-img-top')
            - else
              = image_tag('no-image.jpg', class: 'card-img-top')
            .card-body
              %p.card-text
                = product.description.truncate(120)
            %ul.list-group.list-group-flush
              %li.list-group-item
                = number_to_currency(product.price)
              %li.list-group-item
                = product.code
            .card-body
              = link_to 'Edit', edit_product_path(product), class: 'btn btn-secondary'
              - if product.deleted?
                %p.status-deleted Deleted
    - else
      - if product.active?
        .col-sm-3.mb-5
          = link_to product_path(product) do
            .card.card-link.text-center{style: "width: 18rem;"}
              %h5.card-header
                = product.name
              - if product.image?
                = image_tag(product.image.url(:thumb), class: 'card-img-top')
              - else
                = image_tag('no-image.jpg', class: 'card-img-top')
              .card-body
                %p.card-text
                  = product.description.truncate(120)
              %ul.list-group.list-group-flush
                %li.list-group-item
                  = number_to_currency(product.price)
                %li.list-group-item
                  = product.code

.mb-5
  = will_paginate @collection, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center)