%center  
  %h1.mb-5
    Cart

- if @cart.present?
  %table.table.mb-5
    %thead
      %th
        Image
      %th 
        Name
      %th 
        Vendor code
      %th 
        Price
      %th
        Amount
    %tbody
    - @cart.each do |product|
      %tr
        %td
          = image_tag(product.image.url(:thumb))
        %td
          = product.name
        %td
          = product.code
        %td
          = number_to_currency(product.price)
        %td
          %input{type:'number', value: "1", min: "1"}
        %td
          = link_to 'Remove', remove_from_cart_path(product), method: :delete, class: 'btn btn-danger'
- else
  %h2
    The cart is empty


