%div
  = form_for @product, hatm:{multipart: true} do |f|
    = f.label :name
    = f.text_field :name
    %br
    = f.label :image
    = f.file_field :image
    %br
    = f.label :code
    = f.text_field :code
    %br
    = f.label :price
    = f.number_field :price
    %br
    = f.label :description
    = f.text_field :description
    %br
    = f.submit 'Save'
