%strong Name:
%br 
= @product.name
%br
%strong Image: 
%br
- if @product.image?
  = image_tag @product.image.url(:big)
- else
  = image_tag('no-image.jpg')
%br
%strong Vendor code:
%br
= @product.code
%br
%strong Price:
%br
= number_to_currency(@product.price)
%br
%strong Description:
%br 
= @product.description
%br 

%div.mt-3.mb-5
  = link_to 'Back', products_path, class: 'btn btn-primary'
  - if admin?
    = link_to 'Edit', edit_product_path(@product), class: 'btn btn-secondary'
    = link_to 'Destroy', product_path(@product), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-danger'}
    #modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}
      .modal-dialog{role: "document"}
        .modal-content 
