%strong Name:
%br 
= @product.name
%br
%strong Image: 
%br
.image
  - if @product.image?
    = image_tag @product.image.url
  - else
    = image_tag('no-image.jpg')
%br
%strong Vendor code:
%br
= @product.code
%br
%strong Price:
%br
= number_to_currency(@product.price)
%br
%strong Description:
%br 
= @product.description
%br 

%div.mt-3.mb-5
  = link_to 'Back', products_path, class: 'btn btn-primary'
  - if admin?
    = link_to 'Edit', edit_product_path(@product), class: 'btn btn-secondary'
    - if @product.active?
      %button.btn.btn-danger{"data-target" => "#modal-window", "data-toggle" => "modal"} Destroy
      = render 'delete_product_modal'
    - else
      = link_to 'Restore', product_restore_path(@product), class: 'btn btn-success'
