<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ProjectShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
  </head>

  <body>
    <header id="header" class="mb-3">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="/">MYSHOP</a>
            <li><%= link_to 'Products', products_path, class: 'nav-link px-2 text-white'%></li>
          </ul>
          <div class="d-flex">
              <button type='button' class='btn btn-secondary btn-buy'>
                <%= image_tag('cart.png') %>
                Cart
              </button>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <% flash.each do |k, v| %>
        <%= tag.div v, class: "alert alert-#{k}", role: 'alert' %>
      <% end %>
      
      <%= yield %>
    </div>

    <footer class="fixed-bottom bg-dark">
      <div class="container">
        <div class="d-flex">
          <div class="footer-left mt-2 mb-2">
            <span class="text-decoration-none text-white-50" href="#">&copy; <i>koleshkos</i>
          </div>
        </div>       
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
